@lineHeight: 24px;

body {
  font-weight: 300;
  font-family: 'proxima-nova', sans-serif;
  color: #444;
  font-size: 16px;
  line-height: @lineHeight;
}

p {
  margin: 0 0 (@lineHeight / 2);
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  color: #505050;
}

h2, h3, h4 {
  font-weight: 400;
}

header {
  margin-top: 30px !important;
  margin-bottom: 30px !important;

  h1 {
    font-family: 'ff-meta-serif-web-pro', serif;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 60px;
    line-height: 1;
    color: #333;
  }

  p {
    font-size: 18px;
    font-weight: 200;
    line-height: 36px;
  }
}

footer {
  text-align: center;
  color: #808080;
  text-transform: uppercase;
  font-size: 12px;
}

h2 {
  font-size: 24px;
  line-height: 48px;
}

h3 {
  font-size: 18px;
  line-height: 36px;
}

strong {
  font-size: 17px;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #444;
}

hr {
  border: 1px solid #F0F0F0;
  border-bottom: none;
}

::selection {
  background: #777;
  color: #fff;
}
