@import "variables.less";

body {
  font-weight: 300;
  font-family: 'proxima-nova', sans-serif;
  color: @gray75;
  font-size: 16px;
  line-height: @lineHeight;
}

::selection {
  background-color: @gray60;
  color: #fff;
}

hr {
  border: 1px solid @gray5;
  border-bottom: none;
}

article, footer {
  p, pre, ul, ol, dl, img {
    margin: 0 0 (@lineHeight / 2);
  }

  h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    color: @gray70;
    clear: both;
  }

  h2, h3, h4 {
    font-weight: 400;
  }

  h2 {
    @size: 24px;
    font-size: @size;
    line-height: @size * 1.5;
    /*margin-bottom: @lineHeight / 2;*/ 
    font-family: 'proxima-nova-condensed', sans-serif;
    text-transform: uppercase;
  }

  h3 {
   @size: 18px;
    font-size: @size;
    line-height: @size * 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    a {
      text-decoration: none;
    }
  }

  a {
    text-decoration: underline;
    font-weight: 400;
    color: @gray75;
    color: #C01D2B;
    color: #DA2F2F;
    color: #900;
    color: #5F8086;


    &:hover {
      text-decoration: underline;
      color: #5F8086;
    }
  }

  code, pre {
    font-family: 'inconsolata', monospace;
    font-size: 16px;
  }

  pre {
    background-color: @gray5;
    padding: @lineHeight / 2;
    white-space: pre-wrap;
    border-radius: 3px;
  }

  code {
    background-color: @gray5;
    padding: 1px 3px;
    border-radius: 3px;
  }

  ul, ol {
    margin: 0 0 (@lineHeight / 2) @lineHeight;
  }

  ul {
    list-style-type: disc;
  }

  dt {
    font-weight: 400;
    line-height: @lineHeight;
  }
  
  dd {
    margin-left: @lineHeight / 2;
    line-height: @lineHeight;
  }

  li {
    line-height: @lineHeight;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 600;
  }

  blockquote {
    border-left: 6px solid @gray70;
    padding-left: @lineHeight;
  }

  .more {
    text-align: right;
    padding: @lineHeight / 2 0;
  }
}

header {
  p {
    font-size: 21px;
    font-weight: 300;
    line-height: 34px;

    em {
      font-weight: 600;
      color: @gray80;
    }

    a {
      color: @gray80;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

footer {
  text-align: left;
  color: @gray20;
  font-size: 16px;
  font-weight: 300;
}
