@import "reset.less";
@import "variables.less";
@import "grid.less";
@import "typography.less";

@gutter-width: @lineHeight / 2;
@gutter-width: 2px;
@total-width: 828px;
@border: 6px;


html.projects nav .projects,
html.about nav .about,
html.writing nav .writing {
  border-top: 6px solid @gray70;
  border-top: 6px solid #5F8086;
  color: @gray70;
}

html.home .wrapper > nav .logo {
  border-top: 6px solid #99B2B7;
  background-color: #99B2B7;
}

html.home article figure {
  margin-right: -125px;
  img {
    margin: 0;
    border: 1px solid @gray20;
  }
}

.wrapper {
  margin: 0 auto;
  width: @total-width;

  article {
    .column(8);
    .push(2);
    margin-bottom: @margin * 2;

    figure {
      float: right;
      padding: 0 @lineHeight / 2;
      margin: 0 0 (@lineHeight / 2) (@lineHeight / 2);

      img {
        margin: 0 auto (@lineHeight / 2) auto;
        display: block;
      }
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  > nav {
    .column(12);
    .row(12);
    margin-bottom: @margin * 2;

    a, div {
      .column(2, 12);
      display: inline-block;
      line-height: @margin * 2;
      height: @margin * 2 - @border;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      color: @gray50;
      text-transform: uppercase;
      font-family: 'proxima-nova-condensed';
      border-top: @border solid @gray50;
      border-top: @border solid #D5DED9;

      &:hover {
	color: @gray70;
      }

      &.logo {
        .column(1, 12);
        .pull(3);
        background-color: @gray70;
        /*box-shadow: 4px 4px 8px rgba(0,0,0,0.2);*/
        color: white;
        text-align: left;
        border-top: @border solid @gray70;
        img {
          position: relative;
          left: 7px;
          bottom: -7px;
        }

	&:hover {
          background-color: #99B2B7;
          border-top: @border solid #99B2B7;
        }
      }
    }
  }

  > aside {
    .column(2);
    a {
      margin: 0 10px;
      display: block;
    }
  } 

  aside.download {
    a {
      line-height: 32px;
      font-size: 16px;
      color: @gray5;
      text-align: center;
      background-color: @gray70;
      font-family: 'proxima-nova-condensed', sans-serif;
      text-decoration: none;
      &:hover {
        background-color: @gray90;
      }
    }
  }

  aside.info {
    a {
      font-size: 14px;
      color: @gray40;
      text-decoration: none;
      &:hover {
        color: @gray70;
        span {
          background-color: @gray70;
        }
      }

      span {
	display: inline-block;
	width: 18px;
	background-color: @gray30;
	line-height: 18px;
	text-align: center;
	color: white;
	margin-right: 6px;
	font-weight: 400;
        font-family: sans-serif;
      }
    }
  }

  > header {
    .column(8);
    .push(2);
    margin-bottom: @margin;
  }

  > hr {
    margin-bottom: @lineHeight / 2;
  }      
}

footer {
  width: 100%;
  background-color: @gray70;
  background-color: #7A6A53;
  overflow: auto;
  border-top: @border solid #948C75;
  line-height: 18px;
  font-size: 14px;
  /*border-bottom: (@margin * 2) solid #584C3C;*/

  .wrapper {
    margin: 0 auto;
    width: @total-width;

    h1, h2, h3, h4, h5, h6 {
      color: @gray20;
      color: #D9CEB2;
    }

    p {
      margin-bottom: 6px;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
   }

    a {
      color: white;
      text-decoration: none;
    }

    .left {
      .column(4);
      .push(2);
      padding: (@margin + @lineHeight / 2) 0 @margin 0;
      a {
        line-height: 18px;
        display: block;
        font-family: 'proxima-nova-condensed';
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    .right {
      .column(4);
      padding: (@margin + @lineHeight / 2) 0 @margin 0;

    }
  }
}