@import "reset.less";
@import "variables.less";
@import "grid.less";
@import "typography.less";

@total-width: 940px;

body {
	margin: 0 auto;
	width: @total-width;

	> nav, header, footer, hr {
		.column(12);
	}

	> article {
		.column(8);
	}
}
