<!doctype html>
<html>
  {{> head}}
  <body>
    {{> nav}}
    <header>
      <h1>Front-end developer all day.<br>Designer some days.</h1>
      <p>I'm a programmer and web developer from the Netherlands, but currently living in <a href="#">Copenhagen, Denmark</a>. I have a passion for developing usable <a href="#">programs</a>, websites, visualizations–and when I have some spare time–games.</p>
    </header>
    <hr>
    <article>
      {{{article}}}
    </article>
    {{> footer}}
  </body>
</html>
